<div class="container">
  <h1 class="display-3 text-center">Credit Card Payment Modelling</h1>
  <div class="row mt-5">
    <div class="col-4 offset-4">
      <div class="card">
        <div class="card-header">
          NgRx State Management Solution
        </div>
        <div class="card-body">
          {{ creditCard$ | async | json }}
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-4 offset-4">
      <a href="/creditcard-payment" class="btn btn-primary d-block">Pay With Card</a>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
